html, body {
  padding: 0;
  margin: 0;
}
/*.background-still {
  padding: 0;
  margin: 0;
  height: 100%;
}*/
#logo {
  height: inherit;
  width: inherit;
  margin-top: -15px;
}
.navbar {
  background-color: #595959;
  box-shadow: 14px 14px 20px -1px;

}
#link-favs {
  color: black;
  font-size: 18px;
}
/*home page*/
.suggestions {
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-around;
  margin-bottom: 50px;

}
.circle {
	width: 100px;
	height: 100px;
	background: rgba(200, 200, 200, .5);
	-moz-border-radius: 50px;
	-webkit-border-radius: 50px;
	border-radius: 50px;
  margin-top: 25px;
  text-align: center;
  cursor: pointer;
}
.circle:hover p {
  color: black;
}
.circle:hover span{
  color: black;
}
.circle p {
  margin: 0;
  padding: 0;
  line-height: 12px;
  width: 100%;
  color: rgba(150, 150, 150, 1);
}
.circle span {
  color: rgba(150, 150, 150, 1);
  padding-top: 25px;
  margin: 0;
}
.jumbotron {
  height: 70vh;
  margin: auto;
  width: 80%;
}
.jumbo-description {
  width: 85%;
  margin: 0 auto;
  text-align: center;
}
@media (min-width: 1200px) {
.col-lg-6 {
  width: 100% !Important;
}}
.input-group {
  width: 80%;
  margin: auto;
}
/*Favorites Page*/
.favorites-list {
  width: 92%;
  display: flex;
  flex-wrap: wrap;
  margin: 60px auto;
  background: rgba(89, 89, 89, 0.5);
  border-radius: 10px;
  box-shadow: 9px 11px 12px -3px rgba(0,0,0,0.75);

}
.favorites-image-container {
  position: relative;
  height: 200px;
  width: 200px;
  border-radius: 10px;
  margin-left: 8px;
  margin-top: 5px;
  margin-bottom: 15px;
}
.favorites-image-container p {
  position: absolute;
  margin-bottom: -6px;
  bottom: 0px;
  left: 15px;
  color: black;
  opacity: 1;
}
.favorites-image-container span{
  position: absolute;
  margin-top: 5px;
  top: 5px;
  right: 5px;
  color: blue;
  opacity: .6;
  cursor: pointer;
}
.favorite-images {
  height: 200px;
  width: 200px;
  border-radius: 10px;
  margin-left: 5px;
  margin-top: 5px;
  box-shadow: 9px 11px 23px -2px rgba(0,0,0,0.75);
}
.favorites-image-container span:hover {
  color: blue;
  opacity: 1;
}
.icons {
  display: flex;
  justify-content: flex-end;
}
.literallyanything {
  width: 33px;
  cursor: pointer;
}
/*Giphy Page*/
.thumbs {
  width: 95%;
  height: 100px;
  border-top-left-radius: 8px;
  border-top-right-radius: 8px;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
  background-color: black;
  overflow-y: hidden;
  overflow-x: scroll;
  display: flex;
  justify-content: flex-start;
  margin: auto;
  box-shadow: 14px 14px 10px -1px;
  list-style-type: none;
}
::-webkit-scrollbar {
  width: 8px;
  border-radius: 10px;
  background: #595959;
}
::-webkit-scrollbar-thumb {
  border-radius: 10px;
  background: white;
}
#gif-images {
  width: 65px;
  height: 65px;
  margin-left: 10px;
  margin-top: 8px;
  margin-right: 10px;
  display: block;
  cursor: pointer;
  border-radius: 5px;
  border: 1px solid white;
}
.thumb-large {
  width: 70%;
  height: 450px;
  border: 1px solid black;
  margin: 50px auto;
  border-radius: 15px;
  background: black;
  box-shadow: 14px 14px 10px -1px;
}
.span12 {
  height: 400px;
  margin-top: 25px;
  position: relative;
  display: flex;
  justify-content: center;
}
.favorites-list {
  list-style-type: none;
}
.image-large {
  height: 100%;
  width: 88%;
  border-radius: 12px;
  border-top-right-radius: 0px;
  border-bottom-right-radius: 0px;
  position: relative;
}
.saved {

}
#save-button {
  position: absolute;
  border-radius: 5px;
  border-bottom-left-radius: 0px;
  border-top-left-radius: 0px;
  height: 100%;
  width: 6%;
  top: 0px;
  right: 0px;
}
#save-button span {
  align-items: center;
}
#copy-button {
  position: absolute;
  border-radius: 5px;
  border-top-left-radius: 0px;
  height: 50%;
  width: 6%;
  bottom: 0px;
  right: 0px;
}
#copy-button span {
  align-items: center;
}
