<div class="thumbs">
  <li ng-repeat="item in giphyInfo track by $index" >
    <img id="gif-images" ng-src="{{item.images.fixed_height.url}}" ng-click="bigPicture(item)"/>
  </li>
</div>
<div class="thumb-large">
  <div class="row-fluid">
    <div class="span12" ng-model='picture'>
      <img class="image-large" ng-src="{{picture.images.fixed_height.url || giphyInfo[0].images.fixed_height.url}}"/>
      <button id="save-button" type="button" ng-click="saveGiph(picture)"><span class="glyphicon glyphicon-pushpin saved"></span></button>
    </div>
  </div>
</div>
