<div class="wrapper">
	<div class="container login">
		<h1>Welcome</h1>
		<form class="form">
			<input type="text" placeholder="Username">
			<input type="password" placeholder="Password">
			<button type="submit" id="login-button">Login</button>
      <p class="newUser" ng-click="loginToggle = !loginToggle">New User Form</p>
		</form>
	</div>
	<div class="container signup">
		<h1 id="newForm">New User Form</h1>
		<form class="form">
			<input type="text" placeholder="Email">
			<input type="text" placeholder="Username">
      <input type="password" placeholder="Password">
			<button type="submit" id="login-button">Create</button>
      <p class="logInReturn">Return to Login</p>
		</form>
	</div>

	<ul class="bg-bubbles">
		<li></li>
		<li></li>
		<li></li>
		<li></li>
		<li></li>
		<li></li>
		<li></li>
		<li></li>
		<li></li>
		<li></li>
	</ul>
</div>
